/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
   /* --bg-color-1: #7e1819; */
   --bg-color-1: transparent;
   --bg-color-2: #fff;
   --bg-color-3: #1a2b44;
   --bg-color-4: #dfe5ff;
   --bg-color-5: #c18f59;
   --bg-color-6: #ecf0ff;
   --bg-color-secundary: #dfdfdf;

   --max-page-width: 1920px;
 }

* {
   padding: 0px;
   margin: 0px;
   user-select: none;
   box-sizing: border-box;
}

body, input, button, textarea {
   font-family: Arial, Helvetica, sans-serif;  
   border: none;
}

select, button {
   outline: none;
}

/* SCROLLBARS */
/* Works on Firefox */

* {
   scrollbar-width: thin;
   /* scrollbar-color: #8f8f8f #fff; */
   scrollbar-color: var(--bg-color-3) #fff;
 }
 
 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
   width: 8px;
 }
 
 *::-webkit-scrollbar-track {
   background: #fff;
 }
 
 *::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-3);
    /* background-color: #8f8f8f; */
   border-radius: 20px;
   border: 2px solid #ffffff;
 }

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--bg-color-4);
}

.alert-success {
  max-width: 800px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* CONTAINER */
main.container {
   width: 100%;
   max-width: 1920px;
   background: rgba(255, 255, 255, 0.89) url('./assets/images/teste3.png');
   background-size: cover;
  
}


main.container h2 {
   margin-top: 50px;
   text-align: center;
}
 
 .container {
   max-width: 800px;
   margin: 0px auto;
   padding: 20px;
   background-color: #f2f2f3;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }
 
 form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
 .row {
   display: flex;
   flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte, se necessário */
   gap: 10px; /* Espaçamento entre os itens */
 }
 
 .column {
   flex: 1;  
   box-sizing: border-box;
 }
 
 label {
   font-weight: bold;
   display: block;
   margin-bottom: 8px;
 }
 
 .sim-label {
  background-color: #dff0d8;
  padding: 10px;
  border-radius: 4px;
}

.nao-label {
  background-color: #f2dede;
  padding: 10px;
  border-radius: 4px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin: 5px 10px 5px 0;
}

.radio-group {
  display: flex;
  gap: 5px;
}

.radio {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 5px;
}

.radio label,
.radio input {
  margin: 5px;
}
 
 .error-message {
   color: red;
   font-size: 12px;
   margin: 0 0 10px;
 }
 
 .error-input {
   border: 1px solid red;
 }
 
 button {
   background-color: var(--bg-color-3);
   color: white;
   padding: 15px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   width: max-content;
   margin: 0 auto;
 }
 
 button:hover {
   background-color: #4e3d9c;
 }
 
 #numero,label[for="numero"],
 #motivo, label[for="motivo"] {
     display: none;
 }
 
 @media (max-width: 600px) {
   .column {
       flex: 100%;
   }

 }


/* HEADER */
header {
   width: 100%;
   max-width: var(--max-page-width);
   display: flex;  
   align-items: center;
   flex-wrap: wrap;
   padding: 8px;   
   justify-content: center;   
   background-color: var(--bg-color-3);   
   color: #fff;
   height: max-content;
   text-align: center;   
}

header svg {
   height: 92px;
   width: auto;
}

header svg path {
   stroke: white;
   fill: white;
}

header img {
   height: 92px;
}

header > div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 79.2%;
   text-align: center;
}

header h4 {
   font-weight: normal;
}


.shadow {
   margin: 50px auto;
}

#system-logo {
   display: flex;
   /* flex: 1; */
   background: url('./assets/images/saat.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   width: 100%;
   max-height: 200px;
   margin: 2px auto;
   padding: 10px;
   height: 150px;
   min-height: 100px;
}

.title {
  font-size: 24px;
  color: #1a2b44;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;  /* Ajuste conforme necessário */
  padding: 20px;
}

.page-footer {
  /* margin-top: 8px; */
  width: 100%;
  height: max-content;
  padding: 20px;
  background-color: var(--bg-color-3);
  max-width: var(--max-page-width);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
}

.page-footer .footer-contato {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.page-footer .footer-contato .field-contatos {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 8px;
  border-left: 2px solid #fff;
  gap: 2px;
}

.page-footer .footer-contato .field-contatos a {
  display: flex;
  justify-content: center;
  align-items: start;
}

.page-footer .footer-contato .field-contatos a span {
  font-size: 18px;
}

.page-footer a {
  text-decoration: none;
  color: #fff;
  gap: 2px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 560px) {
  .page-footer {
    justify-content: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .page-footer .footer-contato .field-contatos {
    padding-left: 0;
    border-left: none;
  }
}